$colors : (
    cyprus: #003C46,
    cyprus_footer: #00343d,
    pacific: #00B4B4,
    porcelain: #F2F4F5
);
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
nav {
    &.navbar.menu-shadow {
        background-color: map-get($colors, cyprus) !important;
        max-height: 66px;
        .logo {
            margin-left: 8px;
        }
        .b-bottom-top {
            border: none;
        }
    }
    .tainacan-search-form {
        color: #fff !important;
        .input-group {
            background-color: map-get($colors, cyprus) !important;
            .form-control-feedback {
                color: #fff !important;
            }
        }
        .form-control {
            color: #fff !important;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #fff;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #fff;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #fff;
            }
        }
    }
    &.menu-belowheader {
        background-color: map-get($colors, pacific) !important;
        height: auto;
        padding: 0;
        #menubelowHeader {
            > ul {
                > li {
                    &.menu-item {
                        a {
                            color: #fff;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            ul {
                &.navbar-nav {
                    li {
                        a {
                            color: #fff;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                &.dropdown-menu {
                    background-color: map-get($colors, cyprus);
                    &:hover {
                        background-color: map-get($colors, pacific);
                    }
                }
            }
        }
    }
    .dropdown-menu {
        &:hover {
            background-color: map-get($colors, pacific);
        }
    }
}

@import "menu";

.min-height {
    min-height: 450px;
}

.page-header {
    > div{
        &.t-bg-collection{
            background-color: map-get($colors, cyprus);
        }
    }
}
footer {
    &.tainacan-footer {
        background-color: map-get($colors, cyprus);
        .tainacan-footer--title{
            background-color: map-get($colors, cyprus_footer);
            color: #fff;
            font-size: 1em;
            font-weight: bold;
            padding: 6px;
            text-align: center;
            p{
                margin: 10px 0 10px;
            }
        }
        .tainacan-footer--menu{
            background-color: map-get($colors, cyprus);
            color: map-get($colors, pacific);
            margin-bottom: -20px;
            font-size: 0.75em;
            a {
                background-color: map-get($colors, cyprus);
                color: map-get($colors, pacific);
                float: left;
                padding: 18px;
                margin-left: 37px;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
        .tainacan-footer--corporation{
            background-color: map-get($colors, cyprus);
            text-align: center;
            padding: 9px;
            a {
                color: map-get($colors, pacific);
            }
        }
    }
}